---
# Carrega variáveis baseadas no sistema (ex: Void.yml ou Debian.yml)
- name: Carregar variáveis específicas do SO
  include_vars: "{{ ansible_os_family }}.yml"
  ignore_errors: true

# Define um fallback caso não exista arquivo específico
- name: Definir pacotes padrão se não definidos
  set_fact:
    devtools_packages:
      - git
      - curl
      - wget
      - unzip
      - python3-pip
  when: devtools_packages is not defined

- name: Instala pacotes de desenvolvimento (Genérico)
  package:
    name: "{{ devtools_packages }}"
    state: present
  register: package_install_results
  ignore_errors: true

- name: Verificar falhas na instalação
  fail:
    msg: "Falha ao instalar pacotes: {{ package_install_results }}"
  when: package_install_results.failed is defined and package_install_results.failed

- name: Rodar ensurepath do python3-pipx
  command: python3 -m pipx ensurepath
  changed_when: false
  ignore_errors: true

- name: Instalar UV
  shell: |
    curl -LsSf https://astral.sh/uv/install.sh | sh
  args:
    creates: "{{ ansible_user_dir }}/.cargo/bin/uv"

- name: Clonar plugins do Tmux
  become: false
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_user_dir }}/.tmux/plugins/tpm"


