---
# 1. Tenta carregar variáveis com o nome da família do OS (Ex: Debian.yml ou Void.yml)
- name: Carregar variáveis específicas do SO
  include_vars:
    file: "{{ ansible_os_family }}.yml"
    dir: vars
  ignore_errors: true

# 2. Fallback: Se não encontrou arquivo específico, define lista segura
- name: Definir pacotes padrão (Fallback)
  set_fact:
    devtools_packages:
      - git
      - curl
      - python3-pip
  when: devtools_packages is not defined

# 3. Instalação Genérica (O Ansible decide se usa apt, dnf, xbps, etc.)
- name: Instala pacotes de desenvolvimento
  package:
    name: "{{ devtools_packages }}"
    state: present
  register: package_install_results
  ignore_errors: true

- name: Clonar plugins do Tmux
  become: false
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_user_dir }}/.tmux/plugins/tpm"


