---
- name: Carregar variáveis específicas do SO
  ansible.builtin.include_vars:
    file: "{{ ansible_facts['os_family'] }}.yml"
  failed_when: false

- name: Definir pacotes padrão (Fallback)
  ansible.builtin.set_fact:
    devtools_packages:
      - git
      - curl
      - python3-pip
  when: devtools_packages is not defined

- name: Instala pacotes de desenvolvimento
  ansible.builtin.package:
    name: "{{ devtools_packages }}"
    state: present
  register: package_install_results
  ignore_errors: true # Mantemos aqui pois package names variam muito

- name: Verificar falhas na instalação
  ansible.builtin.fail:
    msg: "Falha ao instalar pacotes: {{ package_install_results }}"
  when: package_install_results.failed is defined and package_install_results.failed

- name: Clonar plugins do Tmux
  become: false
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ user_home }}/.tmux/plugins/tpm"
    version: master # Define versão explícita para agradar o linter