[defaults]
# Configurações de Output e Feedback Visual do Ansible
stdout_callback = yaml
bin_ansible_callbacks = True
callbacks_enabled = timer
display_skipped_hosts = False
display_ok_hosts = True
force_color = True
nocows = 1
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
