---
- name: Clonar repositório dotfiles
  become: false
  ansible.builtin.git:
    repo: https://github.com/jozielsc/dotfiles
    dest: "{{ ansible_user_dir }}/.dotfiles"
    update: true
    version: main

- name: Obter lista de pacotes dotfiles
  ansible.builtin.find:
    paths: "{{ ansible_user_dir }}/.dotfiles"
    file_type: directory
    depth: 1
  register: dotfiles_packages

- name: Criar links simbólicos com stow
  ansible.builtin.command: >
    stow --dir={{ ansible_user_dir }}/.dotfiles --target={{ ansible_user_dir }} {{ item.path | basename }}
  loop: "{{ dotfiles_packages.files }}"
  changed_when: false
