---
- name: Clonar repositório dotfiles
  become: false
  git:
    repo: https://github.com/jozielsc/dotfiles
    dest: "{{ ansible_user_dir }}/.dotfiles"
    update: yes

- name: Obter lista de pacotes dotfiles
  find:
    paths: "{{ ansible_user_dir }}/.dotfiles"
    file_type: directory
    depth: 1
  register: dotfiles_packages

- name: Criar links simbólicos com stow
  command: >
    stow --dir={{ ansible_user_dir }}/.dotfiles --target={{ ansible_user_dir }} {{ item.path | basename }}
  loop: "{{ dotfiles_packages.files }}"
  changed_when: false 
  # 'stow' pode ser barulhento, ajuste o changed_when se necessário

