---
- name: Definir repositórios de dotfiles padrão se não definidos
  ansible.builtin.set_fact:
    dotfiles_repos:
      - { repo: "https://github.com/jozielsc/dotfiles", dest: "{{ user_home }}/.dotfiles" }
  when: dotfiles_repos is not defined

- name: Clonar repositórios dotfiles
  become: false
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ item.dest }}"
    update: true
    version: "{{ item.version | default('main') }}"
  loop: "{{ dotfiles_repos }}"

- name: Stow packages para cada repositório
  ansible.builtin.include_tasks: stow_repo.yml
  loop: "{{ dotfiles_repos }}"
  loop_control:
    loop_var: repo_item
