---
- name: Instala Docker (Genérico)
  package:
    name: docker
    state: present

- name: Adiciona usuário ao grupo docker
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes

# Bloco Específico: Void Linux (Runit)
- name: Habilitar serviço docker (Void/Runit)
  file:
    src: /etc/sv/docker
    dest: /var/service/docker
    state: link
  when: ansible_os_family == "Void"

# Bloco Genérico: Systemd (Ubuntu, Fedora, Arch, etc)
- name: Habilitar serviço docker (Systemd)
  service:
    name: docker
    state: started
    enabled: yes
  when: ansible_service_mgr == "systemd"
