---
- name: Provisionamento do Workstation
  hosts: all
  become: true
  gather_facts: true

  pre_tasks:
    - name: Determinar diretório home e user do usuário real (sem sudo)
      become: false
      ansible.builtin.shell: "echo $HOME && whoami"
      register: real_user_info
      changed_when: false
      tags: ['always']

    - name: Definir fatos user_home e user_id
      ansible.builtin.set_fact:
        user_home: "{{ real_user_info.stdout_lines[0] }}"
        user_id: "{{ real_user_info.stdout_lines[1] }}"
      tags: ['always']

  roles:
    - { role: devtools, tags: ['devtools', 'packages'] }
    - { role: languages, tags: ['languages', 'node', 'python'] } # Nova Role
    - { role: docker, tags: ['docker'] }
    - { role: zsh, tags: ['zsh', 'shell'] }
    - { role: ui, tags: ['ui', 'visuals'] }
    - { role: editors, tags: ['editors', 'nvim'] }
    - { role: dotfiles, tags: ['dotfiles', 'stow'] }
