---
- name: Provisionamento de ambiente de desenvolvimento
  hosts: remote-dev
  become: true

  # Coleta facts (informações do sistema) automaticamente
  gather_facts: true

  roles:
    - devtools
    - docker
    - zsh
    - dotfiles
