---
# Mude de 'hosts: remote-dev' para 'hosts: all'
- name: Provisionamento de ambiente de desenvolvimento
  hosts: all  
  become: true
  gather_facts: true

  roles:
    - devtools
    - docker
    - zsh
    - dotfiles
