---
- name: Provisionamento do Workstation
  hosts: all
  become: true
  gather_facts: true

  roles:
    - { role: devtools, tags: ['devtools', 'packages'] }
    - { role: languages, tags: ['languages', 'node', 'python'] } # Nova Role
    - { role: docker, tags: ['docker'] }
    - { role: zsh, tags: ['zsh', 'shell'] }
    - { role: dotfiles, tags: ['dotfiles', 'stow'] }
